<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/html"><!--<![endif]-->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title><g:layoutTitle default="Grails"/></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="${resource(dir: 'images', file: 'favicon.ico')}" type="image/x-icon">
        <link rel="apple-touch-icon" href="${resource(dir: 'images', file: 'apple-touch-icon.png')}">
        <link rel="apple-touch-icon" sizes="114x114" href="${resource(dir: 'images', file: 'apple-touch-icon-retina.png')}">
        <link rel="stylesheet" href="${resource(dir: 'css', file: 'bootstrap.css')}" type="text/css">
        <link rel="stylesheet" href="${resource(dir: 'css', file: 'bootstrap-responsive.css')}" type="text/css">
        <link rel="stylesheet" href="${resource(dir: 'css', file: 'bootstrap-theme.css')}" type="text/css">
        <g:layoutHead/>
    </head>

    <body>

    <div class="hero-unit">
        <h1><a href="<g:createLink uri='/'/>"><img
                src="${resource(dir: 'images', file: 'apple-touch-icon-retina.png')}" alt="Grails"/></a>
            Trello App
        </h1>

    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span10 offset2 well">
                <div>

                    <g:if test="${flash.error}">
                        <div class="alert alert-danger">
                            ${flash.error}
                        </div>
                    </g:if>

                </div>

                <div class="clearfix"></div>

                <g:layoutBody/>
            </div>
        </div>
    </div>

    <div class="footer" role="contentinfo"></div>
    </body>
</html>